version: "3.9"

services:
  mysql-primary:
    image: mysql:8.0
    container_name: mysql-primary
    hostname: mysql-primary
    environment:
      MYSQL_ROOT_PASSWORD: root_password
      MYSQL_DATABASE: mydb
    ports:
      - "3307:3306"
    volumes:
      - mysql-primary-data:/var/lib/mysql
    command: >
      --server-id=1
      --log-bin=mysql-bin
      --binlog-format=ROW
      --gtid-mode=ON
      --enforce-gtid-consistency=ON
      --default-authentication-plugin=mysql_native_password
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 20s
      retries: 10

  mysql-replica:
    image: mysql:8.0
    container_name: mysql-replica
    hostname: mysql-replica
    environment:
      MYSQL_ROOT_PASSWORD: root_password
      MYSQL_DATABASE: mydb
    ports:
      - "3308:3306"
    depends_on:
      mysql-primary:
        condition: service_healthy
    volumes:
      - mysql-replica-data:/var/lib/mysql
    command: >
      --server-id=2
      --log-bin=mysql-bin
      --binlog-format=ROW
      --gtid-mode=ON
      --enforce-gtid-consistency=ON
      --read-only=ON
      --default-authentication-plugin=mysql_native_password

  proxysql:
    image: proxysql/proxysql:2.6.1
    container_name: proxysql
    hostname: proxysql
    ports:
      - "6033:6033" # Cổng ứng dụng (Spring Boot)
      - "6032:6032" # Cổng Admin
    depends_on:
      - mysql-primary
      - mysql-replica

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin
    environment:
      PMA_HOSTS: mysql-primary, mysql-replica
      PMA_PORT: 3306
      PMA_USER: root
      PMA_PASSWORD: root_password
    ports:
      - "8080:80"
    depends_on:
      - mysql-primary

volumes:
  mysql-primary-data:
  mysql-replica-data:
